.cursos {
    color: $fonte-branca;
    width: 60vw;
    margin: 0 auto;
    margin-top: 50px;
}

.cursos__titulo > h2 {
    @include fonte-titulo($fonte-vermelho);
}

.nome-curso{
    font-size:1.5rem;
}

.cursos__descricao-aberto {
background-color: $bg-vermelho;
margin-top: 60px;
border-radius: 5px;
width: 100%;
}

.fonte-texto {
    font-size: 13px;
}

.fonte-texto1 {
    font-size: 16px;
}

.button__inscricao {
  @include button__inscricao();
  font-size: 16px;    
}

.cursos__descricao{  
    a:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: $bg-vermelho;
        opacity: .3;
    }
}

.cursos__descricao-breve{
    background-color:#E98A95;
    margin-top: 35px;
    border-radius: 5px;
    width: 100%;
}

@media (min-width:970px){
  .ajuste{
    margin-right: 50px;
}
}