.cursos {
    color: $fonte-branca;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
}

.cursos__titulo > h2 {
    @include fonte-titulo($fonte-vermelho);
}

.nome-curso{
    font-size:1rem;
}

.cursos__descricao-aberto {
background-color: $bg-vermelho;
margin-top: 16px;
border-radius: 5px;
}

.fonte-texto {
    font-size: 10px;
}

.fonte-texto1 {
    font-size: 12px;
}

.button__inscricao {

  @include button__inscricao(6px)
}

.cursos__descricao-breve{
    background-color:#E98A95;
    margin-top: 16px;
    border-radius: 5px;
}
