footer{
background-color: $bg-vermelho;
margin-top: 15px;
background-repeat: no-repeat;
}

.linkParceiros{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 16px;
}

.contato-titulo{
    @include fonte-titulo($fonte-branca)
}

i{
    color: $fonte-branca;
}

.slide__parceiros{
    display: none;
}

.slide__parceiros--imagem{
    width: 5vw;
    margin-left: 20px;
}