nav{
    background-color:$bg-vermelho;
    // height: -6rem;
    display: flex;
    margin: 0 auto;
    width: 100%;
    z-index: 99;
}

.icones-social i:hover{
    font-weight: 800 !important;

}

.icones-social i{
    font-size: 1rem;
}

.nav-estilo{
    width: 16rem;
    height: 10rem;
    align-items: center;
    align-content: flex-end;
    display: flex;
    margin: -6rem;
    border-radius: 5px;
    margin: .01rem;
    /* margin-right: 1rem; */
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    /* bottom: -16px; */
    align-items: center;


}

.nav-estilo-encomendas{
    width: 16rem;
    height: 4rem;
    align-items: center;
    align-content: flex-end;
    display: flex;
    margin: -6rem;
    border-radius: 5px;
    margin: .01rem;
    /* margin-right: 1rem; */
    justify-content: space-between;
    align-items: flex-end;
    // position: absolute;
    /* bottom: -16px; */
    align-items: center;


}


.bg-vermelho{
    background-color:$bg-vermelho; 
}

.bg-branco{
    background-color:#ffffff ;
    
}

.img-logo{
    height:6rem;
    background-color: #ffffff;
    border-radius:2px;
    // vertical-align: middle;
    // border-style: none;
    justify-content: space-between;
    align-items: flex-end;
    // position: absolute;
    bottom: -16px;
    padding: 10px;


}
.cor-fonte a{
color: $fonte-vermelho;
}


.cor-fonte i{
    color: $fonte-vermelho;
}

// justify-content: space-between;
//     align-items: flex-end;
//     position: absolute;
//     bottom: -20px;



@media (min-width:992px){

.nav-estilo{ 

    height: 3rem;
    width: 30rem;
    align-items: center;
    align-content: flex-end;
    display: flex;
    // margin: -6rem;
    border-radius: 5px;
    margin: 1rem;
    margin-right:1rem;

    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    // bottom: -16px;
    align-items: center;
}

.nav-estilo-redes{
    margin: 0;
    justify-content: space-between;
    margin-right: 5px;
}
.img-logo{
    height:7rem;
    background-color: #ffffff;
    border-radius:2px;
    // vertical-align: middle;
    // border-style: none;
    justify-content: space-between;
    align-items: flex-end;
    // position: absolute;
    bottom: -16px;
    padding: 10px;


}
}